<div class="container mt-3">
  <h2 class="w-100 text-center"><%= @list.name %></h2>
  <div class="row">
    <div class="row mt-5 col-9">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col-3 position-relative">
          <%= image_tag bookmark.movie.poster_url, class: "overlay" %>
          <p class="m-0"><%= bookmark.movie.title %></p>
          <%= link_to(bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"})  do %>
            <i class="fa-solid fa-trash text-danger position-absolute top-0 m-1"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit class: "btn btn-success p-2 text-white fw-bold"%>
    <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-9">

    </div>
    <div class="col-3">
      <%= simple_form_for @review do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit class: "btn btn-success p-2 text-white fw-bold"%>
      <% end %>
  </div>
</div>
